.ant-progress-bg, .ant-progress-inner {
  border-radius: initial !important;
}

.BottomBar {
  height: 30vh;
  display: flex;
  flex-direction: column;

  &--inner {
    padding: 1em;
    flex-grow: 1;
    display: flex;

    input {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }
  }

  &--photo {
    .ant-alert.ant-alert-no-icon {
      padding: 0.2em 0.5em;
      font-size: 12px;
    }
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &--main {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .ant-btn .anticon {
    font-size: 24px;
  }

  .ant-progress-inner {
    vertical-align: bottom;
  }

  .ant-btn-circle.ant-btn-lg, .ant-btn-circle-outline.ant-btn-lg {
    width: 3em;
    height: 3em;
  }
}

@media (min-width: 24em) {
  .Closest--name--text {
    font-size: 16px;
    margin-right: .4em;
  }

  .BottomBar {
    font-size: 14px;
    &--inner {
      padding: 2em 1em;
    }

    .ant-btn-circle.ant-btn-lg, .ant-btn-circle-outline.ant-btn-lg {
      width: 4em;
      height: 4em;
    }

    .ant-alert.ant-alert-no-icon {
      font-size: 14px;
      padding: 0.5em 1em;
    }
  }
}

.Closest {
  &--top {
    display: flex;
    align-items: center;
  }
  &--name {
    font-size: 1.2em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 0;
    flex-grow: 1;

    &&--text {
      font-size: 24px;
      margin-right: .4em;
    }
  }

  &--details {
    color: #424242;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }

  .seperator {
    margin: 0 .4em;
  }
}
